doctype html
html(lang='en-us')
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.typekit.net/hgu6sri.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  body
    h1.titled CONTACT
    div.row
      ul.leftcol 
        li 
          a.material-symbols-outlined(href="//rtakizawa.com") home Home
        li 
          a(href="//rtakizawa.com/about") About  
        li 
          a.active Contact
      div.rightcol
        p.titled stuff
        p.titled stuff
        p.titled stuff
        p.titled stuff
