.main{
    height: calc(100vh - 7vh - 10px);
    padding: 0;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.header-image {
    box-shadow: 0px 0px 10px black;

    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    width: 90%;
}

.grid-gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px,100%), 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 0;

    background-color: #30303070;
    padding: 0px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.grid-item:hover {
    /* background-color: #333333; */
    background-color: #c93625;
}

.grid-image {
    width: 100px;
    height: 100px;
}

.grid-text-box {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.grid-text {
    color: #ffffff;
    margin: 0;

    font-size: 14pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-subtext {
    color: #a7a7a7;
    margin: 0;

    font-size: 12pt;
    font-family: proxima-nova, sans-serif;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideways-gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(215px,100%), 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.gallery-item {
    background-color: #18181870;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition-duration: 0.3s;
    cursor: pointer;

    height:100%;
}

.gallery-item:hover {
    background-color: #c93625;
}

.gallery-image {
    margin-top: 20px;
    box-shadow: 0px 0px 10px black;
    width: 175px;
    height: 175px;
}

.gallery-text {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 14pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;

    max-width: 175px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-subtext {
    color: #a7a7a7;
    margin: 0;

    font-size: 12pt;
    font-family: proxima-nova, sans-serif;

    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 20px;
}

.video {
    /*width: calc(100vw - 60px);
    height: calc((100vw - 60px) * (9.0/16));*/
    width: calc(100% - 20px);
    height: 700px;
    margin-bottom: 20px;
}

#about > p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14pt;
    font-family: proxima-nova, sans-serif;
    color: rgb(202, 202, 202);
    text-align: justify;
}

.credits-sideways {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.credits-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 500px;
}

.credits-title {
    font-size: 16pt;
    font-family: proxima-nova, sans-serif;
    color: #ffffff;
}

.credits-people {
    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
    color: rgb(202, 202, 202);

    text-align: center;
}