<!DOCTYPE html>
<html>
<head>
  <title>Robert Takizawa</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.typekit.net/hgu6sri.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>

<div class="header">
  <img src="/images/signature.png" style="height:100%;width:30%;display: inline-block;" alt="Sig">
</div>

<div class="topnav">
  <a href="/">
    <span class="material-symbols-outlined">
    home
    </span>
    <div class="but-tex"> Home </div>
  </a>
  <a href="/about" style="color: #93e9be; background-color: #555;"><span class="material-symbols-outlined">
    person
    </span>
    <div class="but-tex"> About </div>
  </a>
  <a href="/projects"><span class="material-symbols-outlined">
    code
    </span>
    <div class="but-tex"> Projects </div>
  </a>
  <a href="/contact"><span class="material-symbols-outlined">
    alternate_email
    </span>
    <div class="but-tex"> Contact </div>
  </a>
</div>

<div class="row">
  <div class="leftcolumn">
  <script type="text/javascript" src="/js/index.js">
  </script>
  <div id="console"></div>
  </script>
  </div>
</div>

</body>
</html>