<!DOCTYPE html>
<html>
<head>
  <title>Chess Game</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.typekit.net/hgu6sri.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
<script type="module" src="/js/play.js"></script>
</body>