<!DOCTYPE html>
<html>
<head>
  <title>Robert Takizawa</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.typekit.net/hgu6sri.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>

<div class="header">
  <img src="/images/signature.png" style="height:100%;width:30%;display: inline-block;" alt="Sig">
</div>

<div class="topnav">
  <a href="/">
    <span class="material-symbols-outlined">
    home
    </span>
    <div class="but-tex"> Home </div>
  </a>
  <a href="/about"><span class="material-symbols-outlined">
    person
    </span>
    <div class="but-tex"> About </div>
  </a>
  <a href="/projects"><span class="material-symbols-outlined">
    code
    </span>
    <div class="but-tex"> Projects </div>
  </a>
  <a href="/contact" style="color: #93e9be; background-color: #555;"><span class="material-symbols-outlined">
    alternate_email
    </span>
    <div class="but-tex"> Contact </div>
  </a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h1 class="header">Get in Touch</h1>
      <div class="contact-block">
      <span class="material-symbols-outlined">
        mail
      </span>
      <div class="but-tex">robert.takizawa@yale.edu</div>
      </div>
      <div class="contact-block">
        <span class="material-symbols-outlined">
          phone
        </span>
        <div class="but-tex">(203)-213-3904</div>
        </div>
    </div>
    <div class="card">
      <h1 class="header">Contact Form</h1>
      <div>
        <div><input type="text" id="txtName" placeholder="Full Name" /></div>
        <div><input type="text" id="txtEmail" placeholder="Email Address" /></div>
        <div>
            <textarea id="msg" name="msg" placeholder="Your Message" style="height:150px; width:300px;"></textarea>
        </div>
    </div>
    <div>
      <button onclick="alert('Submitted'); window.location.href='/contact';">
        Click Here
      </button>
  </div>
  </div>
</div>
</body>
</html>