doctype html
html
  head
    link(rel='stylesheet', href='=/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.typekit.net/hgu6sri.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    h1 WELCOME
  main
    h1 WELCOME 
    iframe(type='text/html' width='368' height='224'
    src='https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ'
    frameBorder="0")
    div.center
      a(class='button' href='//rtakizawa.com/') Reload
      a(class='button' href='//google.com/') Google



