<!DOCTYPE html>
<html>
<head>
  <title>Robert Takizawa</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.typekit.net/hgu6sri.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
  <script>0</script>
<div class="header">
  <img src="/images/signature.png" style="height:100%;width:30%;display: inline-block;" alt="Sig">
</div>

<div class="topnav">
  <a href="/">
    <span class="material-symbols-outlined">
    home
    </span>
    <div class="but-tex"> Home </div>
  </a>
  <a href="/about"><span class="material-symbols-outlined">
    person
    </span>
    <div class="but-tex"> About </div>
  </a>
  <a href="/projects" style="color: #93e9be; background-color: #555;"><span class="material-symbols-outlined">
    code
    </span>
    <div class="but-tex"> Projects </div>
  </a>
  <a href="/contact"><span class="material-symbols-outlined">
    alternate_email
    </span>
    <div class="but-tex"> Contact </div>
  </a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="nav-bar"></div>
    <div class="proj-block"> 
      <img src="/images/cim.jpg"></img>
      <div class="proj-text">New C Standard Library</div> 
      <div class="vl"></div>
      <div class="proj-desc">This does some stuff and is cool for reasons</div>
    </div>
    <div class="proj-block">
      <img src="/images/chessl2.png"  style="background-color: black; width:100px;"></img>
      <div class="proj-text">Chess Game</div>
      <div class="vl"></div>
      <div class="proj-desc">Created a chess game from scratch using Phaser 3 game engine. Try it out <a class="ins" href='/projects/chess' style="color:#93e9be">here</a> or check out the code on <a class="ins" href='https://github.com/robtak223' style="color:#93e9be">Github</a></div>
    </div>
  </div>
</div>

</body>
</html>