
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: proxima-nova, sans-serif;
    background-color: #000;
  }
  
  /* Header/Blog Title */
  .header {
    display: block;
    text-align: center;
  }

  .center {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: #ffffff;
  }
  
  .header h1 {
    font-family: proxima-nova, sans-serif;
    color: #93a5cf;
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  
  /* Style the topnav links */
  .topnav a {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 22px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #ffffff;
    text-decoration: none;
  }
  .but-tex {
    margin-left: 7px;
    font-size: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
  }
    
  /* Change color on hover */
  .topnav a:hover {
    color: #222;
    background-color: #fff;
    transition-duration: 0.3s;
  }
  .topnav a:active {
    background-color: #ddd;
    transition-duration: 0.3s;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 100%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    /*
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    */
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    background-repeat: repeat-x;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    align-content: left;
    justify-content: left;
    border-radius: 22px;
    padding: 15px;
    transition-duration: 0.4s;
    color: #000000;
    text-decoration: none;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .nav-bar {
    margin-top: 50px;
  }

  .proj-text {
    font-size: 20px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 40px;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
  }

  input {
    box-shadow: inset -1px -1px 2px #CCC;
  }
  .vl {
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid rgba(255,255,255,.25);
    height: 60%;
  }

  .proj-desc {
    font-size: 15px;
    color: #ddd;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    font-family: proxima-nova, sans-serif;
    font-weight: lighter;
  }

  .proj-block {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    border-top: 1px solid rgba(255,255,255,.25);
    border-bottom: 1px solid rgba(255,255,255,.25);
    font-size: 1em;
    height: 100px;
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
  }

  .proj-block:hover {
    background-color: #444;
    transition-duration: 0.3s;
  }

  .contact-block {
    display: flex;
    flex-direction: row;
    align-content: left;
    justify-content: left;
    margin-top: 15px;
    font-size: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


  #console {
    font-family: Courier, monospace;
    color: #dddddd;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 15px;
  }
  
  #k {
    animation: change 4s;
  }
  
  #op {
    color: #888888;
  }
  
  @keyframes change {
    0% {
      color: rgb(255, 255, 255);
    }
    50% {
      color: rgb(255, 255, 255);
    }
    99% {
      color: rgb(0, 0, 0);
    }
  }