:root {
  --ttime: 1s;
}

main {
  background: #DDDD00;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 30px 10px;
  cursor: pointer;
  background-color: blue;
}

.button:hover {
  background-color: red;
  transition: var(--ttime);
}


body {
  background-image: url(back.jpg);
  background-repeat: repeat-x;
}

.titled{
  font-family: Copperplate;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 7em;
  text-transform: uppercase;
}
