body {
  padding: 50px;
  color: #924351;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.video {
  /*width: calc(100vw - 60px);
  height: calc((100vw - 60px) * (9.0/16));*/
  width: calc(100% - 20px);
  height: 700px;
  margin-bottom: 20px;
}
