.main{
    height: calc(100vh - 7vh - 10px);
    padding: 0;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#chartview-content {
    max-width: 100%;
    background: rgb(18, 18, 18);
    padding: 30px;
    box-shadow: 0px 0px 10px #000;
}

.flourish-map{
    outline: 15px solid #121212;
    outline-offset: -15px;

    box-shadow: 0px 0px 10px #000;
    margin-bottom: 20px;
}